body{
    background-color: #3f3f3f;
    color: #ffffff;
}
header {
    background-color: #FF1801;
    text-align: center;
    height: 250px;
    padding: 20px;
    margin-bottom: 40px;
}
img {
    border-radius: 20px;
}
.ispod {
    text-align: center;
    color: #ffffff;
}

a {
    color: #fff;
}
li {
    display: inline-grid;
    margin: 0px;
    text-align: center;
    padding: 10px;
}

.podnozje {
    padding: 10px;
    height: 100px;
    text-align: center;
    color: #fff;
    background-color: #FF1801;
}