body {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
}
header {
   
    grid-row: 1;
    text-align: center;
}

nav {
    
    grid-row: 2;
    text-align: center;
}